### Filter indexes with 'loc' and 'iloc'

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('/Users/georgiosskourlis/Documents/Analyst Builder/Pandas for Data Analysis/WorldContinents.csv',
                    encoding = 'ISO-8859-1')

df

    continent       sub_region            country code_3     Unnamed: 4
0        Asia    Southern Asia        Afghanistan    AFG     6,900,000
1      Europe  Northern Europe      Åland Islands    ALA     5,500,000
2      Europe  Southern Europe            Albania    ALB     3,300,000
3      Africa  Northern Africa            Algeria    DZA     9,500,000
4     Oceania        Polynesia     American Samoa    ASM        55,000
..        ...              ...                ...    ...            ...
235   Oceania        Polynesia  Wallis and Futuna    WLF    15,900,000
236    Africa  Northern Africa     Western Sahara    ESH       597,000
237      Asia     Western Asia              Yemen    YEM     5,500,000
238    Africa   Eastern Africa             Zambia    ZMB   213,000,000
239    Africa   Eastern Africa           Zimbabwe    ZWE    19,100,000

[240 rows x 5 columns]

In [22]:
df.loc[0]

continent              Asia
sub_region    Southern Asia
country         Afghanistan
code_3                  AFG
Unnamed: 4       6,900,000
Name: 0, dtype: object

In [23]:
df.iloc[0]

continent              Asia
sub_region    Southern Asia
country         Afghanistan
code_3                  AFG
Unnamed: 4       6,900,000
Name: 0, dtype: object

In [24]:
df.set_index(['country'], inplace = True)

df

                  continent       sub_region code_3     Unnamed: 4
country
Afghanistan            Asia    Southern Asia    AFG     6,900,000
Åland Islands        Europe  Northern Europe    ALA     5,500,000
Albania              Europe  Southern Europe    ALB     3,300,000
Algeria              Africa  Northern Africa    DZA     9,500,000
American Samoa      Oceania        Polynesia    ASM        55,000
...                     ...              ...    ...            ...
Wallis and Futuna   Oceania        Polynesia    WLF    15,900,000
Western Sahara       Africa  Northern Africa    ESH       597,000
Yemen                  Asia     Western Asia    YEM     5,500,000
Zambia               Africa   Eastern Africa    ZMB   213,000,000
Zimbabwe             Africa   Eastern Africa    ZWE    19,100,000

[240 rows x 4 columns]

In [25]:
df.loc['Afghanistan']

continent              Asia
sub_region    Southern Asia
code_3                  AFG
Unnamed: 4       6,900,000
Name: Afghanistan, dtype: object

In [26]:
df.iloc[0]

continent              Asia
sub_region    Southern Asia
code_3                  AFG
Unnamed: 4       6,900,000
Name: Afghanistan, dtype: object

In [27]:
df.reset_index(inplace = True)

In [28]:
df.set_index('continent', inplace = True)
df

                     country       sub_region code_3     Unnamed: 4
continent
Asia             Afghanistan    Southern Asia    AFG     6,900,000
Europe         Åland Islands  Northern Europe    ALA     5,500,000
Europe               Albania  Southern Europe    ALB     3,300,000
Africa               Algeria  Northern Africa    DZA     9,500,000
Oceania       American Samoa        Polynesia    ASM        55,000
...                      ...              ...    ...            ...
Oceania    Wallis and Futuna        Polynesia    WLF    15,900,000
Africa        Western Sahara  Northern Africa    ESH       597,000
Asia                   Yemen     Western Asia    YEM     5,500,000
Africa                Zambia   Eastern Africa    ZMB   213,000,000
Africa              Zimbabwe   Eastern Africa    ZWE    19,100,000

[240 rows x 4 columns]

In [29]:
df.loc['Asia']

,country,sub_region,code_3,Unnamed: 4
continent,,,,
Asia,Afghanistan,Southern Asia,AFG,"6,900,000"
Asia,Armenia,Western Asia,ARM,"45,700,000"
Asia,Azerbaijan,Western Asia,AZE,"10,000,000"
Asia,Bahrain,Western Asia,BHR,"1,900,000"
Asia,Bangladesh,Southern Asia,BGD,"2,500,000"
Asia,Bhutan,Southern Asia,BTN,"771,000"
Asia,Brunei Darussalam,South-Eastern Asia,BRN,"9,400,000"
Asia,Cambodia,South-Eastern Asia,KHM,"2,200,000"
Asia,China,Eastern Asia,CHN,"1,412,000,000"
Asia,Cyprus,Western Asia,CYP,"1,200,000"
Asia,Georgia,Western Asia,GEO,"5,400,000"
Asia,Hong Kong,Eastern Asia,HKG,"7,500,000"
Asia,India,Southern Asia,IND,"1,400,000,000"
Asia,Indonesia,South-Eastern Asia,IDN,"4,600,000"
Asia,Iran (Islamic Republic of),Southern Asia,IRN,"84,000,000"
Asia,Iraq,Western Asia,IRQ,"89,000,000"
Asia,Israel,Western Asia,ISR,"9,300,000"
Asia,Japan,Eastern Asia,JPN,"18,000,000"
Asia,Jordan,Western Asia,JOR,"10,300,000"
Asia,Kazakhstan,Central Asia,KAZ,"22,000,000"
Asia,Korea (Democratic People's Republic of),Eastern Asia,PRK,"38,000,000"
Asia,Korea (Republic of),Eastern Asia,KOR,"51,600,000"
Asia,Kuwait,Western Asia,KWT,"8,300,000"
Asia,Kyrgyzstan,Central Asia,KGZ,"6,600,000"
Asia,Lao People's Democratic Republic,South-Eastern Asia,LAO,"7,300,000"
Asia,Lebanon,Western Asia,LBN,"6,800,000"
Asia,Macao,Eastern Asia,MAC,"650,000"
Asia,Malaysia,South-Eastern Asia,MYS,"53,800,000"
Asia,Maldives,Southern Asia,MDV,"540,000"
Asia,Mongolia,Eastern Asia,MNG,"5,000,000"
Asia,Myanmar,South-Eastern Asia,MMR,"54,000,000"
Asia,Nepal,Southern Asia,NPL,"44,000,000"
Asia,Oman,Western Asia,OMN,"5,000,000"
Asia,Pakistan,Southern Asia,PAK,"331,000,000"
Asia,"Palestine, State of",Western Asia,PSE,"5,100,000"
Asia,Philippines,South-Eastern Asia,PHL,"13,100,000"
Asia,Qatar,Western Asia,QAT,"3,500,000"
Asia,Saudi Arabia,Western Asia,SAU,"6,600,000"
Asia,Singapore,South-Eastern Asia,SGP,"5,900,000"
Asia,Sri Lanka,Southern Asia,LKA,"33,000,000"
Asia,Syrian Arab Republic,Western Asia,SYR,"2,800,000"
Asia,"Taiwan, Province of China",Eastern Asia,TWN,"34,000,000"
Asia,Tajikistan,Central Asia,TJK,"9,500,000"
Asia,Thailand,South-Eastern Asia,THA,"69,800,000"
Asia,Timor-Leste,South-Eastern Asia,TLS,"1,300,000"
Asia,Turkey,Western Asia,TUR,"84,000,000"
Asia,Turkmenistan,Central Asia,TKM,"6,000,000"
Asia,United Arab Emirates,Western Asia,ARE,"9,900,000"
Asia,Uzbekistan,Central Asia,UZB,"6,000,000"
Asia,Viet Nam,South-Eastern Asia,VNM,"97,000,000"
Asia,Yemen,Western Asia,YEM,"5,500,000"

In [30]:
df.reset_index(inplace = True)

In [33]:
df_continent = df.set_index(['continent','sub_region'])
df_continent

                                     country code_3     Unnamed: 4
continent sub_region
Asia      Southern Asia          Afghanistan    AFG     6,900,000
Europe    Northern Europe      Åland Islands    ALA     5,500,000
          Southern Europe            Albania    ALB     3,300,000
Africa    Northern Africa            Algeria    DZA     9,500,000
Oceania   Polynesia           American Samoa    ASM        55,000
...                                      ...    ...            ...
          Polynesia        Wallis and Futuna    WLF    15,900,000
Africa    Northern Africa     Western Sahara    ESH       597,000
Asia      Western Asia                 Yemen    YEM     5,500,000
Africa    Eastern Africa              Zambia    ZMB   213,000,000
          Eastern Africa            Zimbabwe    ZWE    19,100,000

[240 rows x 3 columns]

In [36]:
df_continent.loc['Asia', 'Southern Asia']

/var/folders/74/jqd1f7yx2dj5czlf00b_j9fw0000gn/T/ipykernel_12433/249281347.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_continent.loc['Asia', 'Southern Asia']

                                            country code_3       Unnamed: 4
continent sub_region
Asia      Southern Asia                 Afghanistan    AFG       6,900,000
          Southern Asia                  Bangladesh    BGD       2,500,000
          Southern Asia                      Bhutan    BTN         771,000
          Southern Asia                       India    IND   1,400,000,000
          Southern Asia  Iran (Islamic Republic of)    IRN      84,000,000
          Southern Asia                    Maldives    MDV         540,000
          Southern Asia                       Nepal    NPL      44,000,000
          Southern Asia                    Pakistan    PAK     331,000,000
          Southern Asia                   Sri Lanka    LKA      33,000,000

In [43]:
df_continent.iloc[0,0]

'Afghanistan'